nav {
display: flex;
justify-content: space-around;
background-color: #c773ff;
padding: 1rem;
}

nav li {
list-style: none;
}

nav a {
color: rgb(242, 142, 245);
text-decoration: none;
padding: 0.5rem 1rem;
}

nav a:hover {
background-color: #575757;
}